@page "/menu"

<PageTitle>Game Menu</PageTitle>

<main>
    <header>
        <h1>Menu</h1>
    </header>

    <body>
        <div>
            <p>Scenario Mode</p>
            <p>Story Mode</p>
            <p>Suggestions</p>
        </div>
    </body>

</main>