@page "/"

<PageTitle>Tin Ta Maytoes</PageTitle>

<main class="cbyg">
    <header>
        <h1>Tin Ta Maytoes</h1>
    </header>

    <body>
        top of body
        <div class="top-row">
            <img class="home-page-icon" src="/assets/images/TinTaMaytoesIcon.png" alt="Tin Ta Maytoes Icon"/>

            <video class="name-explanation-video" src="/assets/videos/NameExplanation.mp4" alt="A video explaning the name"/>
        </div>

        <div class="bottom-row">
            play button
        </div>
        bottom of body
    </body>
    
    <footer>
        <p>©Tin Ta Maytoes<br>
        
        Creators:<br>

        Quinn & Winnie Kelley
        </p>
    </footer>
</main>
