@page "/"

<PageTitle>Tin Ta Maytoes</PageTitle>

<main class="cbyg">
    <header>
        <h1>Tin Ta Maytoes</h1>
    </header>
    <h1>Tin Ta Maytoes</h1>

    <img src="/assets/images/TinTaMaytoesIcon.png" alt="Tin Ta Maytoes Icon"/>

    <video src="/assets/videos/NameExplanation.mp4" controls/>
</main>
