@page "/"

<PageTitle>Tin Ta Maytoes</PageTitle>

<main class="cbyg">
    <header>
        <h1>Tin Ta Maytoes</h1>
    </header>

    <body>
        <img class="home-page-icon" src="/assets/images/TinTaMaytoesIcon.png" alt="Tin Ta Maytoes Icon"/>
    </body>
</main>
