@page "/"

<PageTitle>Tin Ta Maytoes</PageTitle>

<main class="cbyg">
    <header>
        <h1>Tin Ta Maytoes</h1>
    </header>
    <h1>Tin Ta Maytoes</h1>

    Welcome to your new app.
</main>
