@page "/scenario-mode-menu"
@attribute [StreamRendering]

<PageTitle>Scenario Mode</PageTitle>

<h1>Scenario Mode</h1>
<div class="scenario-mode-menu">
    <div class="new-scenario-section">
        <div class="new-scenario-header">
            <p>New Scenario</p>
        </div>

        <div class="new-scenario-content">
             <p>New thread</p>
        </div>
    </div>

    <div class="previous-scenario-section">
        <div class="previous-scenario-header">
            <p>Previous Scenario</p>
        </div>

        <div class="previous-scenario-content">
             <p>Previous thread</p>
             <p>Previous thread</p>
             <p>Previous thread</p>
             <p>Previous thread</p>
             <p>Previous thread</p>
        </div>
    </div>
</div>