@page "/scenario-menu"
@attribute [StreamRendering]

<PageTitle>Scenario Menu</PageTitle>

<h1>Scenario Menu</h1>
<div class="scenario-gameplay">
    <p>Scenario Game Play is currently under development.</p>
    <p>Check back later for updates!</p>
</div>