@page "/scenario-menu"
@attribute [StreamRendering]

<PageTitle>Scenario Menu</PageTitle>

<h1>Scenario Menu</h1>
<div class="scenario-gameplay">
    <p>Story Mode</p>
    <p>Timed Mode</p>>
</div>