@page "/signuploginguest"

<PageTitle>Signup</PageTitle>

<main class="cbyg">
    <header>
        <h1>Signup / Login / Guest</h1>
    </header>

    <body>
        <div class="tabs">
            <div class="signup-tab">
                Signup
            </div>

            <div class="login-tab">
                Login
            </div>

            <div class="guest-tab">
                Guest
            </div>
        </div>
    </body>
    
    <footer>
        <p>©Tin Ta Maytoes<br>
        
        Creators:<br>

        Quinn & Winnie Kelley
        </p>
    </footer>
</main>
